.main_container_forms_vehi{
    width: 50%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}
.main_form_login{
    /* border: 2px solid red; */
    margin-top: 20px;
}
.icone_class:hover{
color: cyan;transition: all 0.3s ease-in-out;
cursor: pointer;
}
.icone_class{

    font-size: 30px;
}
.logo_khan{
    width:15%;
    border-radius: 5px;
    cursor: pointer;
}
.add{
    width: 20%;
    margin: 20px auto;

}
.add button{
    width: 100%;
    color: white;
    transition: all 0.5s ease-in-out;
    margin: auto;
    padding: 7px 15px;
    border-radius: 5px;
    background-color: black;
}
.add button:hover {
    cursor: pointer;
    background-color: rgb(75, 73, 73);
}
.main_form {
    /* border: 1px solid red; */
    width: 100%;
    padding: 20px;
    background-color: rgba(246, 247, 247, 0.894);
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnefuCB_zzEoJF678FBzuN5FzKXor8saScjVjZ5yP05A&s"); */
}
@media screen and (min-width:200px) and (max-width:768px) {
    .main_container_forms_vehi {
            width: 100%;
            margin: auto;
            margin-top: 120px;
            margin-bottom: 50px;
            padding: 20px;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

        }
                .add {
                    width: 40%;
                    margin: 20px auto;
                    /* border: 1px solid red; */

                }
                                .add button {
                                    width: 100%;
                                    color: white;
                                    transition: all 0.5s ease-in-out;
                                    margin: auto;
                                    padding: 10px 20px;
                                    border-radius: 5px;
                                    background-color: black;
                                }
}