.table_container{
    margin-top: 100px;
}
.select_value{
    margin: 30px;
    border: 1px solid rgb(235, 241, 235);
    width: 60%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.select_value select{
    width: 55%;
    border: 1px solid rgb(249, 248, 248);
}