.table_container{
    margin-top: 100px;
    /* border: 2px solid red; */
    width: 100%;
}
.select_value{
    /* margin: 30px; */
    border: 1px solid rgb(235, 241, 235);
    width: 95%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.select_value select{
    width: 45%;
    border: 1px solid rgb(226, 222, 222);
}
.marks_table{
    border: 1px solid rgb(226, 222, 222);
    margin-top: 30px;
    margin-bottom: 100px;
    width: 90%;
    margin: auto;
}
.fields_container{
    border: 1px solid rgb(226, 222, 222);
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.fields_container select{
    border: 1px solid rgb(226, 222, 222);
    width: 20%;
}
.fields_container input{
    width: 30%;
}
@media screen and (min-width:200px) and (max-width:767px) {
.table_container {
        margin-top: 100px;
        /* border: 2px solid red; */
        width: 100%;
    }
    .bar{
        /* display: none; */
    }
        .select_value {
            /* margin: 30px; */
            /* border: 1px solid rgb(11, 164, 11); */
            width: 100%;
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }

        .select_value select {
            width: 55%;
            border: 1px solid rgb(249, 248, 248);
        }
}